<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8">
    <title>Task</title>
    <script src="angular.min.js"></script>
    <script src="java.js"></script>
    <style>
        .img{
            height: 200px;
            width: 200px;
            font-weight: 100;
            font-size: medium;

        }
        .B
        {
            border: solid;
            float: left;
        }

    </style>
</head>
<body>
<div ng-app="myApp">
    <div ng-controller="AppController">
        <div ng-repeat="item in products" class="B">
            <img src="{{item.imagepath}}" class="img">
            <p id="A">{{item.name}}</p>
            <p>Price : {{item.price}}</p>
            <p>Pounds : {{item.pound}}</p>
            <p>Quantity  In Stock: {{item.qty}}</p>
            <p> <input type="button" value="Add to Cart"></p>
        </div>

            <fieldset>
                <legend>Add New Product</legend>
            <form>
                <div>
                    <label>Product Name</label>
                    <input type="text" ng-model="new.name">
                </div>
                <div>
                <label>Product Price</label>
                <input type="number" ng-model="new.price">
                </div>
                <div>
                    <label>Product Qty</label>
                    <input type="number" ng-model="new.qty">
                </div>
                <div>
                    <label> Pound</label>
                    <input type="number" ng-model="new.pound">
                </div>
                <div>
                    <input type="button" value="Add now" ng-click="addProduct()" >
                </div>
                <div>
                <div class="cart">
                 <h3>cart</h3>
                    <div ng-repeat="product of cart">
                        <p>{{product.name}} --{{product.qty}}</p>

                </div>
            </form>
        </fieldset>
</div>
</div>
</body>
</html>