<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular</title>
    <script src="angular.min.js"></script>
</head>
<body>
<div ng-app="" ng-init="username='hajra'">
    Username :
    <input type="text"  ng-model="username"><br>
    Password :
    <input type="text" ng-model="password">
    <p>{{username}}</p><br>
    <p>{{password}}</p><br>
    {{5 + 5}}
</div>
</body>
</html>