<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task</title>
    <script src="angular.min.js"></script>
    <script src="java.js"></script>
</head>
<body>
<div ng-app="myApp">
    <div ng-controller="AppController">
        Name :
        <input type="text"  ng-model="product.name"><br>
        Price:
        <input type="text" ng-model="product.price"><br>
        Total Cost:
        {{price}}
        <ul>
            <li ng-repeat="item in fru ">{{item}}</li>
        </ul>
    </div>
</div>
</div>
</body>
</html>